@import models.mazeInfo.MazeDimensions

@(mazeForm: Form[MazeForm], mazeDimensions: MazeDimensions, bgColor: String, fgColor: String)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper.Implicits._
@import helper._

@width = {mazeDimensions.width}
@height = {mazeDimensions.height}

@main("Maze Generator") {
  <div class="main">
    <h1>Welcome to Maze Gen</h1>
    <br><br>
    <div class="pageBlock">

      <div class="form">
        @b4.inline.form(routes.HomeController.newMaze()) { implicit hfc =>

          @CSRF.formField
          <div id="sizeControls">
            @b4.range(mazeForm("Width"), Symbol("_label") -> "Width (5 - 150):", Symbol("min") -> 10, Symbol("max") -> 150,
                      Symbol("step") -> 1, Symbol("value") -> mazeDimensions.width )

            @b4.range(mazeForm("Height"), Symbol("_label") -> "Height (5 - 150):", Symbol("min") -> 10, Symbol("max") -> 150,
                      Symbol("step") -> 1, Symbol("value") -> mazeDimensions.height)
          </div>
          <div id="colorControls">
            @b4.color(mazeForm("BGColor"), Symbol("_label") -> "Wall Color:", Symbol("value") -> bgColor)
            @b4.color(mazeForm("FGColor"), Symbol("_label") -> "Path Color:", Symbol("value") -> fgColor)
          </div>
          <br>
          <input id="postButton" type="submit" value="Generate">
        }
      </div>
      <br>
      <img id ="mazeImg" src="/assets/images/mazeBucket/TEST.png">
    </div>
  </div>
}
